body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
main{
    width: 100%;
    height: 50%;
    background-color: orange;
}
footer{
    width: 100%;
    height: 20%;
    background-color: #cecece;
}
#contenedorIMG{
    width: 50%;
    background-color: black;
}
.fotosGatos{
    height: 200px;
}