body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #233a66;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40%;
    transform: translateY(-40%);
}
.material-symbols-outlined{
    position: relative;
    top: 102px;
    left: -50px;
    color: white;
    font-size: 40px;
    background-color: #31578f;
    border-radius: 50%;
}
h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: #31578f 3px;
}
h3{
    color: white;
}
.ingresoCon{
    width: 200px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons{
    cursor: pointer;
    margin-left: 5px;
    padding: 10px;
}
.icons:hover{

    background-color: #ffd691;
    border-radius: 50%;
}
#loginBox{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    background: #ffd691;
    box-shadow:  50px 50px 100px #15253d,
             -50px -50px 100px #31578f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#entrarBtn{
    background-color: #31578f;
    color: white;
    border-radius: 25px;
    font-size: 25px;
    border: 1px solid #31578f;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}
.text{
    color: #233a66;
    font-weight: 600;
    font-size: 18px;
    user-select: none;
}
.inputIn{
    width: 80%;
    height: 30px;
    color: #233a66;
    border: 1px solid #ffd691;
    background-color: white;
    border-radius: 20px;
    text-align-last: center;
    user-select: none;
    font-size: 25px;
}
#user{
    margin-top: 20px;
    border-radius: 20px;

}
#password{
    margin-top: 0;
    margin-bottom: 15px;
   
}
#registrar{
    color: #31578f;
    text-decoration:underline;
    cursor: pointer;
}
#registrar:hover{
    color: white;
    font-weight: 700;
}
#viewPass{
    font-size: 24px;
    color: #31578f;
    background-color: white;
    position: relative;
    top: 9%;
    left: 37%;
    user-select: none;
    cursor: pointer;
}
#hiddenPass{
    font-size: 24px;
    color: #31578f;
    background-color: white;
    position: relative;
    top: 9%;
    left: 37%;
    user-select: none;
    cursor: pointer;
}

#loginTrue{
    width: 100%;
    height: 100%;
    box-shadow:  50px 50px 100px #15253d,
             -50px -50px 100px #31578f;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#register{
    background-color: #ffd691;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 10px;
    margin: 0;
}

@keyframes changeColors {
    0%{
        background-color: #ffd691;
        opacity: 20%;
        width: 700px;
        height: 500px;
        border-radius: 30px;
        color: hidden;
    }
    25%{
        background-color: white;
        opacity: 1;
        position:absolute;
        color: hidden;
    }

    50%{

        width: 100%;
        height: 100%;
        border-radius: 0;
        color: hidden;
    }
    75%{
        font-weight: 900;
        
    }
    100%{
        font-weight: 700;
       
    }
}
@keyframes textAnimation {
    0%{
        scale: 105%;
    }
    50%{
        scale: 90%;
        transform: translateY(-50%);
    }
    100%{
        scale: 100%;
        transform: translateY(-99%);
        opacity: 0%;
    }
}
@media (max-width:746px) {
        #loginBox{
            width: 90%;
        }
        #viewPass{
            left: 36%;
        }
        .text{
            margin-top: 10px;
            color: white;
        }
        #registrar{
            color: white;
            border-radius: 15px;
            padding: 7px;
        }
}