.text{
    color: white;
}
.ingresarCon{
    position: relative;
    top: 10%;
    left: 1%;
    text-align: center;
}
@media (max-width:746px) {
    .text{
        color: #15253d;
    }
    #loginBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .material-symbols-outlined{
        left: -36%;
    }
}